#root {
  max-width: 1280px;
  min-width: 0;
  margin: 0 auto;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas: 'main-grid right-side';
  grid-template-columns: 3fr 1fr;
  position: relative;
  gap: 2rem;
}

@media only screen and (max-width: 1360px)  {
  #root {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 960px) {
  .grid-container {
    display: flex;
  }
}
