.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display: flex;
  z-index: 1;
  background-color: #242424;
}

.logo-container {
  width: auto;
  margin: auto;  ;
}

.logo-container img {
  height: 60px;
  margin: 1rem;
}
