.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display: flex;
}

.logo-container {
  position: fixed;
  left: 0;
  width: 20%;
}

.search-container {
  width: auto;
  margin: auto;  
}

.right-container {
  position: fixed;
  right: 0;
  width: 20%;
}

.logo-container img {
  height: 60px;
  margin: 1rem;
}

#search-bar {
  font-size: 2rem;
  border-radius: 20px;
}